
<!-- Main Wrapper -->
	<div class="wrapper wrapper-style2">
		<div class="title">Left Sidebar</div>
		<div class="container">
			<div class="row">
				<div class="12u">
					
					<!-- Main -->
						<div id="main">
							<div>
								<div class="row">
									<div class="4u">
										
										<!-- Sidebar -->
										<%- partial("_shared/sidebar") %>
										
									</div>
									<div class="8u skel-cell-mainContent">
									
										<!-- Content -->
											<div id="content">
												<article class="is is-post">
													<header class="style1">
														<h2>Lorem ipsum dolor sit amet magna egestas morbi bibendum sed malesuada</h2>
														<span class="byline">Tempus feugiat veroeros sed nullam dolore</span>
													</header>
													<p>cool story bro</p>
												</article>
												<div>
													<div class="row">
														
													</div>
												</div>
											</div>
										<!-- /Content -->
									
									</div>
								</div>
							</div>
						</div>
					<!-- /Main -->
					
				</div>
			</div>
		</div>
	</div>


<!-- Highlights Wrapper -->
<%- partial("_shared/highlights") %>
