<!-- Main Wrapper -->
	<div class="wrapper wrapper-style2">
		<div class="title">Youtubeurs Populaires</div>
		<div class="container">
			<div class="row">
				<div class="12u">
					
					<!-- Main -->
						<div id="main">
							<div>
								<div class="row">
									<div class="8u skel-cell-mainContent">
									
										<!-- Content -->
											<div id="content">
												<article class="is is-post">
													<header class="style1">
														<h2>Bienvenue! Ici sont présentés différents youtubeurs professionnel.</h2>
														<span class="byline">Tempus feugiat veroeros sed nullam dolore</span>
													</header>
													
													<p>nice story bro 3 </p>
												</article>
												
											</div>
										<!-- /Content -->
									
									</div>
									<div class="4u">
										
										<!-- Sidebar -->
										<%- partial("_shared/sidebar") %>
										
									</div>
								</div>
							</div>
						</div>
					<!-- /Main -->
					
				</div>
			</div>
		</div>
	</div>
<!-- /Main Wrapper -->

<!-- Highlights Wrapper -->
<%- partial("_shared/highlights") %>
